// Body
$body-bg: #F8FAFC;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490DC;
$indigo: #6574CD;
$purple: #9561E2;
$pink: #F66D9B;
$red: #E3342F;
$orange: #F6993F;
$yellow: #FFED4A;
$green: #38C172;
$teal: #4DC0B5;
$cyan: #6CB2EB;
